body {
    background-color: black;
    text-align: center;
}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.container {

    width: 300px;
    height: 515px;
    border-radius: 25px;
    background-color: rgb(202, 204, 202);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 50px 50px;
    margin: auto;
}
.header
{
    font-family: 'Annie Use Your Telescope';
    background-color: rgb(17, 195, 177);
    color: #fff;
    font-size: 40px;
    text-align: center;
    height: 50px; 
     width: 300px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-top: 15px;
}
button {
margin: 20px auto;
width: 150px;
height: 50px;
background-color: rgb(17, 195, 177);
color: rgb(14, 13, 13);
font-size: 20px;
border: none;
border-radius: 5px;
}
button:hover{
   color: rgb(247, 247, 247);
}
input,
select {
width: 85%;
border: none;
border-bottom: 1px solid green;
padding: 10px;
border-radius: 8px;
}
.tip{
    background-color:rgb(17, 195, 177);
    border-radius: 25px;
    padding: 5px ;
}


